html, body {
  height:100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display:block;
  background: #000;
}
#scene {
  display: block;
  width: 100%;
  height: 100%;
  touch-action: none;
}
